body{
  margin: 0 60px;
  height: 100vh;
}

.top-wrapper{
  display:flex;
  justify-content: space-between;
}

.menu-wrapper{
  display:flex;
  flex-direction: column;
  margin:0 auto;
  /* padding-left: 70px; */
  /* width: 270px;
  padding: 0 60px; */
}


.menu{
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
}

.menu:visited{
  color: black;
}

.menu-icon{
  margin-right: 15px;
}

.menu:hover{
  color: #41a1f2;
  background-color: #e8f5fd;
}

.fa-twitter{
  color: #41a1f2;
  font-size: 25px;
}

.tweet-btn{
  background-color: #41a1f2;
  margin: 10px 5px 20px 5px;
  padding: 10px 40px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
}

.menu-icons{
  text-decoration: none;
}

.menu-icons:visited{

}

.menu-myicon-wrapper{
  padding: 5px 10px;
  position: relative;
 
}

.menu-myicon{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  position: absolute;
}

.menu-myicon-wrapper:hover{
  background-color: #e8f5fd;
  border-radius: 40px;
  
}

.menu-myicon-wrap{
  margin-left: 55px;
  margin-right: 60px;
}

.name{
  display: inline-block;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.myicon-code{
  color:  #96a3ae;
  display:block;
  font-size: 14px;
}

.name:visited{
  color: black;
}

.myicon-code:visited{
  color:  #96a3ae;
}

.fa-chevron-down{
  position: absolute;
  top: 20px;
  right: 10px;
  color:black;
}

.fa-chevron-down:visited{
  color: black;
}


.main-wrapper{
  width: 600px;
  border: 1px solid #e6ecf0;
  margin: 0 30px 0 20px;
}

.top{
  padding: 0 20px;
}

.fa-arrow-left{
  color:  #41a1f2;
}

.top-name{
  margin: 0 ;
  display: inline-block;
  padding-left: 10px;
  padding-top: 5px;
}

.top-name:after{
  content: "331ツイート";
  color: #96a3ae;
  font-size:13px;
  display: block;
  font-weight: lighter;
}

.profile-img{
  width: 100%;
  height: 200px;
}

.profile-wrap{
  position: relative;
}

.my-icon{
  background-image: url("image/baby.jpeg");
  width: 150px;
  height: 150px;
  border: 4px solid white;
  border-radius: 50%;
  background-position: center center;
  position: absolute;
  background-size: cover;
  left: 10px;
  top: -85px;
}

.profile-edit{
  border: 1px solid #41a1f2;
  color:  #41a1f2;
  border-radius: 30px;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  position: absolute;
  right:20px;
  top: 5px;
  font-weight: bold;
  font-size: 15px;
}

.self-introduction{
  padding: 70px 20px 5px 20px;
}

.profile-name{
  margin:0;
}

.profile-name:after{
  content: "＠2222222";
  color: #96a3ae;
  font-size:15px;
  display: block;
  font-weight: lighter;
}

.profile{
  margin: 5px 0;
  font-size: 15px;
}

.fa-calendar-alt{
  color: #96a3ae;
  margin-right: 5px;
}

.date{
  color: #96a3ae;
}

.person{
  color:  #96a3ae;
  padding: 5px 0;
}

.follow{
  display: inline-block;
  margin:0 10px 0 0;
  text-decoration: none;
}

.follow:hover{
  text-decoration: underline;
}

.follower{
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

.follower:hover{
  text-decoration: underline;
}

.follow:visited{
  color:  #96a3ae;
}

.follower:visited{
  color: black;
}

.count{
  font-weight: bold;
  color: black;
}

.content-wrapper{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6ecf0;
}

.content{
  color: #96a3ae;
  font-weight: bold;
  padding: 15px 0;
  width: 25%;
  text-align: center;
  text-decoration: none;
}

.content:hover{
  color: #41a1f2;
  background-color: #e8f5fd;
}

.tweet-wrapper{
  padding: 10px 20px;
  position: relative;
}

.tweet-icon{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  position: absolute;
}

.tweet-wrap{
  margin-left: 80px;
}

.tweet-name{
  display: inline-block;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
}

.code{
  color:  #96a3ae;
  display: inline-block;
}

.tweet-name:hover{
 text-decoration: underline;
}

.tweet-name:visited{
  color: black;
}

.tweet-day{
  color:  #96a3ae;
  display: inline-block;
}

.counter-wrapper{
  display: flex;
  justify-content: start;
  color: #96a3ae;
  font-size: 13px;
}

.counter{
  margin-right: 60px;
}
.counter-icon{
  margin-right: 5px;
}

.counter-icon:hover{
  background-color: #e8f5fd;
  border-radius: 50%;
  padding: 5px;
}

.counter{
  text-decoration: none;
}

.counter:visited{
  color: #96a3ae;
}

.info-wrapper{
  flex: 1;
}

.info-wrap{
  
}


.search{
  color: #96a3ae;
  font-family: FontAwesome;
  padding: 15px;
  font-size: 18px;
  background-color: #e6ecf0;
  border: 0;
  border-radius: 40px;
  width: 320px;
}

.picture{
  height: 200px;
  background-color: #e6ecf0;
  margin-top: 10px;
  border-radius: 15px;
  width: 100%;
}

.recommended{
  background-color: #e6ecf0;
  margin-top: 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size:20px;
  width: 100%;
  padding: 5px 15px;
  border-bottom: 1px solid  #e6ecf0;
}

.now{
  height: 50px;
  background-color: #e6ecf0;
  margin-top: 10px;
  border-radius: 40px;
}

.site-wrapper{
  color:  #96a3ae;
  padding: 10px;
  font-size: 15px;
}

.site{
  margin-right: 5px;
}

.site:visited{
  color:  #96a3ae;
}

.mark{
  display: inline-block;
  margin: 0;
}

@media (max-width: 1000px){
  .menu-text{
    display: none;
  }

  .menu-icon{
    font-size: 30px;
  }

  .menu{
    margin: 0;
    padding: 0;
  }

  .tweet-btn{
    /* display: none; */
  }

  .info-wrapper{
    display: none;
  }
}


@media (max-width: 480px){
  .menu-wrapper{
    display: none;
  }



  .info-wrapper{
    display: none;
  }

  .main-wrapper{
    margin:0;
  }
}