body{
  height: 100vh;
  margin:0;
}

.top-wrapper{
  display:flex;
  justify-content: space-between;
  margin: 0 70px;
}

.menu-wrapper{
  display:flex;
  flex-direction: column;
  width: 300px;
}

.menu{
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.menu:visited{
  color: black;
}

.menu-inner {
  padding: 8px 10px;
  display: inline-block;
  margin-top: 5px;
}

.menu-text{
  display: inline-block;
  margin-left: 15px;
}

.menu:hover .menu-inner{
  color: #41a1f2;
  background-color: #e8f5fd;
  border-radius: 30px;
}

.fa-twitter{
  color: #41a1f2;
  font-size: 26px;
  padding: 5px 5px;
  margin:0;
}

.tweet-btn{
  background-color: #41a1f2;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 20px 35px 70px 0;
  display:block;
}

.menu-icons{
  text-decoration: none;
}

.menu-myicon-wrapper{
  padding: 5px 10px 15px 10px;
  position: relative;
  width: 217px;
}

.menu-myicon{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  position: absolute;
}

.menu-myicon-wrapper:hover{
  background-color: #e8f5fd;
  border-radius: 40px;
  
}

.menu-myicon-wrap{
  margin-left: 55px;
  margin-right: 60px;
}

.name{
  display: inline-block;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  color: black;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.myicon-code{
  color:  #96a3ae;
  display:block;
  font-size: 14px;
  line-height: 4px;
}

.name:visited{
  color: black;
}

.myicon-code:visited{
  color:  #96a3ae;
}

.fa-chevron-down{
  position: absolute;
  top: 18px;
  right: 18px;
  color:black;
}

.fa-chevron-down:visited{
  color: black;
}


.main-wrapper{
  width: 600px;
  border: 1px solid #e6ecf0;
}

.top{
  padding: 0 20px;
  z-index: 10;
  top:0;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  position: sticky;
}

.fa-arrow-left{
  position: absolute;
  top: 20px;
  color:  #41a1f2;
}

.top-name{
  margin: 0 ;
  display: inline-block;
  margin-left: 50px;
  padding-top: 5px;
}

.top-name:after{
  content: "331ツイート";
  color: #96a3ae;
  font-size:13px;
  display: block;
  font-weight: lighter;
}

.profile-img{
  width: 100%;
  height: 200px;
}

.profile-wrap{
  position: relative;
}

.my-icon{
  background-image: url("image/baby.jpeg");
  width: 150px;
  height: 150px;
  border: 4px solid white;
  border-radius: 50%;
  background-position: center center;
  position: absolute;
  background-size: cover;
  left: 10px;
  top: -85px;
}

.profile-edit{
  border: 1px solid #41a1f2;
  color:  #41a1f2;
  border-radius: 30px;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  position: absolute;
  right:20px;
  top: 5px;
  font-weight: bold;
  font-size: 15px;
}

.self-introduction{
  padding: 70px 20px 5px 20px;
}

.profile-name{
  margin:0;
}

.profile-name:after{
  content: "＠2222222";
  color: #96a3ae;
  font-size:15px;
  display: block;
  font-weight: lighter;
}

.profile{
  margin: 5px 0;
  font-size: 15px;
}

.fa-calendar-alt{
  color: #96a3ae;
  margin-right: 5px;
}

.date{
  color: #96a3ae;
}

.person{
  color:  #96a3ae;
  padding: 5px 0;
}

.follow{
  display: inline-block;
  margin:0 10px 0 0;
  text-decoration: none;
}

.follow:hover{
  text-decoration: underline;
}

.follower{
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

.follower:hover{
  text-decoration: underline;
}

.follow:visited{
  color:  #96a3ae;
}

.follower:visited{
  color: black;
}

.count{
  font-weight: bold;
  color: black;
}

.content-wrapper{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6ecf0;
}

.content{
  color: #96a3ae;
  font-weight: bold;
  padding: 15px 0;
  width: 25%;
  text-align: center;
  text-decoration: none;
}

.content:hover{
  color: #41a1f2;
  background-color: #e8f5fd;
}

.tweet-wrapper{
  padding: 8px 15px;
  position: relative;
  border-bottom: 1px solid #e6ecf0;
  cursor: pointer;
}

.tweet-icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  position: absolute;
}

.tweet-wrap{
  margin: 0 65px;
  /* position: relative; */
}

.tweet-wrapper:hover{
  background-color: #f5f8fa;
}

.tweet-name{
  display: inline-block;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
}

.code{
  color:  #96a3ae;
  display: inline-block;
}

.tweet-name:hover{
 text-decoration: underline;
}

.tweet-name:visited{
  color: black;
}

.tweet-day{
  color:  #96a3ae;
  display: inline-block;
}

.tweet{
  margin: 0;
  padding-bottom: 10px;
}

.counter-wrapper{
  display: flex;
  justify-content: space-between;
  color: #96a3ae;
  font-size: 13px;
}

.counter-icon{
  font-size: 18px;
  padding:5px;
  display: inline-block;
}

.counter-icon:hover{
  background-color: #e8f5fd;
  border-radius: 50%;
}

.counter{
  text-decoration: none;
}

.counter:visited{
  color: #96a3ae;
}

.fa-chevron-down-tl{
  position: absolute;
  top: 15px;
  right: 18px;
  color: #96a3ae;
}

.fa-chevron-down-tl:visited{
  color: #96a3ae;
}

.info-wrapper{
  flex: 1;
}

.search-wrap{
  padding: 0 20px 3px 20px;
  z-index: 10;
  top:0;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
}

.search{
  color: #96a3ae;
  font-family: FontAwesome;
  padding: 15px;
  font-size: 18px;
  background-color: #e6ecf0;
  border: 0;
  border-radius: 40px;
  width: 320px;
  top: 0;
  position: sticky;
  z-index: 10;
}

.info-wrap{
  width: 350px;
  margin-left: 20px;
}

.picture{
  height: 200px;
  background-color: #e6ecf0;
  margin-top: 10px;
  border-radius: 15px;
  width: 350px;
}

.recommended-wrapper,
.news-wrapper{
  background-color: #f5f8fa;
  margin-top: 10px;
  border-radius: 15px;
  padding-top: 5px;
  width: 100%;
}

.recommended-title,.news-title{
  font-weight: bold;
  font-size:20px;
  margin: 0;
  border-bottom: 1px solid #e6ecf0;
  padding: 5px 15px;
}

.follower-list-wrapper,
.news-list-wrapper{
  margin: 0;
  padding: 0;
}

.follower-list-wrap,
.news-list-wrapp{
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #e6ecf0;
  padding: 15px;
}

.follower-list-wrap:hover,
.news-list-wrapp:hover{
  background-color: #edf0f2;
}

.list{
  text-decoration: none;
  display: block;
}

.list:hover{
  background-color: #edf0f2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.follower-list{
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 5px;
}

.follower-icon{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}

.follower-name{
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  color: black;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.follower-name:hover{
  text-decoration: underline;
}

.follower-code{
  color:  #96a3ae;
  line-height: 15px;
  display: block;
  margin: 0;
}

.follow-btn{
  border: 1px solid #41a1f2;
  color: #41a1f2;
  border-radius: 25px;
  font-weight: bold;
  width: 80px;
  padding: 5px 10px;
  height:25px;
  text-decoration: none;
  text-align: center;
}

.list-add{
  color: #41a1f2;
  text-decoration: none;
  margin: 15px;
}

.container{
  position: sticky;
  top: 0;
}

.news-item{
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  color: black;
  max-width: 250px;
  overflow: hidden;
  text-align: left;
}

.news-img{
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-position: center center;
  background-size: cover;
}

.site-wrapper{
  color:  #96a3ae;
  padding: 15px;
  font-size: 13px;
}

.site{
  margin-right: 5px;
}

.site:visited{
  color:  #96a3ae;
}

.mark{
  display: inline-block;
  margin: 0;
}

@media (max-width: 1270px){
  .menu-wrapper{
    /* max-width: 180px; */
    /* box-sizing: border-box; */
    position: absolute;
    padding:5px;
  }

  .menu-text{
    display: none;
  }

  .menu-icon{
    font-size: 30px;
    margin:0;
    max-width: 20px;
  }

  .menu-icon:hover{
    background-color: #e8f5fd;
  }

  .menu{
    margin: 0;
    padding: 0;
  }

  .name{
    display: none;
  }

  .myicon-code{
    display: none;
  }
}


}

@media (max-width: 600px){

  .top-wrapper{
    margin-left: 5px;
    margin-right: 0;
    position: relative;
  }

  .menu-wrapper{
    /* max-width: 70px;
    box-sizing: border-box; */
    /* position: absolute;
    padding:5px; */
  
  }
  
  .menu-text{
    display: none;
  }

  .menu-wrap{
    max-width: 20px;
  }

  .menu{
    width: 20px;
  }


  .menu-icon{
    font-size: 30px;
    margin:0;
  }

  .menu-icon:hover{
    background-color: #e8f5fd;
  }

  .menu{
    margin: 0;
    padding: 0;
  }

  .tweet-btn{
    display: none;
  }

  .info-wrapper{
    display: none;
  }

  .name{
    display: none;
  }

  .myicon-code{
    display: none;
  }
}


@media (max-width: 480px){
  
  .menu-wrapper{
    display: none;
  }



  .info-wrapper{
    display: none;
  }

  .main-wrapper{
    margin:0;
  }
}